@import "layout/home.scss";
@import "base/variables";
@import "base/animations";
@import "components/QuoteDisplay";
@import "components/AddQuoteForm";
@import "components/Flash";
@import "components/ToggleButtons";
@import "components/Button";
@import "components/Quote";
@import "components/AllQuotes";
@import url('https://fonts.googleapis.com/css?family=Tillana');

#app {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}