
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  font-size: 18px;
  font-family: 'Tillana', cursive;
  text-align: center;
  letter-spacing: 1px;
  color: black;
  background-image: url(https://d1hw6n3yxknhky.cloudfront.net/011956685_prevstill.jpeg);
  background-repeat: no-repeat;
  background-position: center;
}

h1{
  font-family: 'Tillana', cursive;
}

.pull-right{
  float:right;
}

.pull-left{
  float: left;
}

.center{
  margin: 0 auto;
}

blockquote,blockquote p{
  color: black;
}
