.form{
  margin: 0 auto;
  width: 350px;
}

.form input,
.form textarea {
  margin-bottom: 26px;
  padding: 18px;
  width: 100%;

  font-size: 18px;
}

.button--big{
  padding: 12px 20px;
  width: 100%;

  font-size: 18px;
  line-height: 24px;
}

.button--big:hover{
  cursor:pointer;
}

.button--blue{
  background-color: #1da1f2;
  border: 1px solid #1da1f2;
  color: #fff;
}
