.quote__text {
    font-size: 2rem;
}

.quote__author {
    font-size: 2rem;
    font-style: italic;
}

hr {
    color: #1e728c;
}

.pagination {
    margin-top: -15px;
    margin-bottom: 15px;
}

.pagination__current_page {
    font-size: 1.1rem;
}