.toggleButtons {
  display: flex;
  margin: 15px 0;

  & .button {
    padding: 10px 20px 11px;
    margin: 0;
    width: 100%;
    background-color: #2284a1;
    border: 1px solid #1e728c;
    color: white;
    font-size: 14px;
    cursor: pointer;

    &--active {
      background-color: #1da1f2;
      border: 1px solid #1da1f2;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  // .toggleButtons {
  //   width: 90%;
  // }
}
